
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: block;
    src: url("/assets/fonts/Inter.var.woff2") format('woff2');
    font-named-instance: 'Regular';
}

@keyframes menu-grow {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

:root,
body,
html,
input {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*:not(input) {
    user-select: none;
}

.menu-grow {
    animation: 0.15s menu-grow forwards;
    transform-origin: top right;
}

:focus-visible {
    outline: none;
}